*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: normalf;
}

html,body{
height: 100%;
width: 100%;
}

*::selection{
    background-color: #dbc2a5;
}

@font-face {
    font-family: designf;
    src: url(./636a6fc35c5b2e64705861a8_WulkanDisplayMedium.woff2);
}

@font-face {
    font-family: normalf;
    src: url(./636a6c63e95bb8835e599167_SuisseIntl-Light.otf);
}

#main{
   width: 100%;
    position: relative;
   
}

#page1{
    width: 100vw;
    height: 65vh;
    background-color: #fff;
    text-align:center;
    
    
}

#nav{
    width: 100vw;
    height: 100px;
   margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3vw;
    
}

#nav img{
    height: 22px;
}

#nav button{
    border: none;
    background-color: #1d1d1d;
    padding: 0.8vw 1.4vw;
    border-radius: 50px;
    margin-left: 77vw;
    position: relative;
    
}

#page1 button:hover{
    scale: 0.95;

}

#page1 button{
    transition: all linear 0.2s;
}

a{
    text-decoration: none;
    color: #fff;
   
}

#nav i{

    background-color: #f0f0f0;
    padding: 13px;
    border-radius: 20px;
}


#page1 h1{
    font-family: designf;
    margin-top: 10vw;
    font-size: 3.5vw;
    font-weight: 300;
    
}

#page1 p{
    margin-top: 10px;
}

#page1>button{
    border: none;
    background-color: #1d1d1d;
    padding: 0.8vw 1.4vw;
    border-radius: 50px;
    margin-top: 35px;
    
}



#page2{
    width: 100%;
    height: 100vh;
    background-color: lavenderblush;
}


/* page 3 starts from here */


#page3{
    width: 100vw;
    height: 100vh;
    background-color: lightcoral;
}

#p3-content{
    width: 100vw;
    height: 16vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}


#p3-content sup{
    font-family: designf;
    font-size: 1.5vw;
    font-weight: 200;
    
    
}
#p3-content h1{
    font-family: designf;
    font-size: 4vw;
    font-weight: 500;
    
}

#p3-content button{
    border: none;
    background-color: #1d1d1d;
    padding: 0.8vw 1.4vw;
    border-radius: 50px;
    
}

#cards-div{
    height: 84vh;
    width: 100vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #fff;
 
   
}

.p3cards{
    height: 79vh;
    width: 30.5vw;
    background-color: red;
    flex-shrink: 0;
    border-radius: 5px;
    position: relative;
}

#p31{
    background-image: url(./milking.gif);
    background-position: center;
    background-size:cover;
    
}

#p32{
    background-image: url(./stationary.gif);
    background-position: center;
    background-size:cover;
}

#p33{
    background-image: url(./new\ year.gif);
    background-position: center;
    background-size:cover;
}

.p3cardcon{
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}

.p3cardcon h1{
    font-size: 15px;
    color: white;
    font-weight: 400;
}

.p3cardcon p{
    font-size: 15px;
    color: #fff;
    
}

.p3cardcon button{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px 18px;
    border-radius: 30px;
}




@keyframes ani {

    0%{
        left: 0;
    }

    100%{
        left: 100%;
    }
    
}



@media (max-width:600px) {

   
    
    #nav img{
        height: 18px;
    }

    #nav button{
        margin-left: 30vw;
        padding: 2.35vw 4vw;
        font-size: 12px;
    }

    #nav i{
        padding: 11px;
    }

    #page1 h1{
        font-family: designf;
        margin-top: 30vw;
        font-size: 8vw;
        font-weight: 500;
        
        
    }
    
    #page1 p{
        margin-top: 10px;
        font-size: 3.5vw;
        
    }

    #page1>button{
        border: none;
        background-color: #1d1d1d;
        padding: 2.35vw 4vw;
        border-radius: 50px;
        margin-top: 35px;
        
    }


    #page3{
        height: 80vh;

    }


    #p3-content{
        padding:0 5vw;
    }

    #cards-div{
        height: 64vh;
        overflow-x: auto;
        justify-content: flex-start;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .p3cards{
        height: 58vh;
        flex-shrink: 0;
        width: 85vw;
    }

    #p3-content h1{
        font-size: 12vw;
    }

    #p3-content sup{
        font-size: 4vw;

    }

    #p3-content button{
        padding: 8px 10px;

    }

    .p3cardcon{
        height: 15%;
    }
}



















